
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", serif;
    background-color: #e9ecef;
    color: #495057;
    margin: 30px;
}

h1 {
    color: #28a745;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.row {
    display: flex;
    justify-content: center;
}

.col-md-4 {
    width: 100%;
    max-width: 500px; /* Увеличим максимальную ширину */
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #495057;
}

input.form-control,
textarea.form-control {
    width: 100%;
    padding: 12px;
    border: 2px solid #ced4da;
    border-radius: 8px;
    font-size: 16px;
    color: #495057;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

    input.form-control:focus,
    textarea.form-control:focus {
        outline: none;
        border-color: #fad6a5;
        box-shadow: 0 4px 8px rgba(40, 167, 69, 0.3);
    }

span.text-danger {
    color: #dc3545;
    font-size: 14px;
}

.btn-primary {
    display: inline-block;
    padding: 12px 25px;
    background-color: #fad6a5;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


div > a {
    display: inline-block;
    margin-top: 30px;
    color: #fad6a5;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

    div > a:hover {
        color: #1e7e34;
    }
/* Reset and base styles  */
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

/* Links */

a, a:link, a:visited {
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
    }

/* Common */

aside, nav, footer, header, section, main {
    display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}

ul, ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img, svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

    input::-ms-clear {
        display: none;
    }

   

        input:focus, input:active,
        button:focus, button:active {
            outline: none;
        }

        button::-moz-focus-inner {
            padding: 0;
            border: 0;
        }

label {
    cursor: pointer;
}

legend {
    display: block;
}